<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weilun.uniplugin_wxpay">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:exported="true"
            android:taskAffinity="net.sourceforge.simcpux"
            android:launchMode="singleTask">
        </activity>
        <!--填移动应用(App)的 AppId-->
        <meta-data android:name="wxsdk_appid" android:value="${wxappid}"/>
        <!--支付平台小程序原始ID-->
        <meta-data android:name="original_mpid" android:value="${originalmpid}"/>
        <!--商户id-->
        <meta-data android:name="syb_cusid" android:value="${sybcusid}"/>
        <!--appid-->
        <meta-data android:name="syb_appid" android:value="${sybappid}"/>
        <!--交易密钥-->
        <meta-data android:name="syb_rsa" android:value="${sybrsa}"/>
        <!--回调地址-->
        <meta-data android:name="call_back_url" android:value="${callbackurl}"/>
    </application>
</manifest>