<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weilun.uniplugin_pay">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application>
            <activity
                android:name="com.weilun.uniplugin_pay.wxapi.WXEntryActivity"
                android:exported="true"
                android:launchMode="singleTask"
                android:taskAffinity="${applicationId}"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />
            <activity-alias
                android:name="${applicationId}.wxapi.WXEntryActivity"
                android:exported="true"
                android:targetActivity="com.weilun.uniplugin_pay.wxapi.WXEntryActivity" />
        <activity
            android:name="com.weilun.uniplugin_pay.wxapi.AliPayActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="sdk"
                    android:path="/backfromalipay"
                    android:scheme="leehorallinpaysdk" />
            </intent-filter>
        </activity>
            <receiver android:name="com.weilun.uniplugin_pay.receiver.ScanCodeBroadcastReceiver"
                android:enabled="true"
                android:exported="true">
            </receiver>
        </application>
</manifest>